<launch>
    <arg name="use_lag" value="true"/>
    <arg name="ping_lag" value="2.0"/>

    <include file="$(find bffv1_description)/launch/upload.launch">
        <arg name="x" value="20"/>
        <arg name="y" value="30"/>
        <arg name="z" value="-1"/>
    </include>
    <include file="$(find bffv1_sim_utils)/launch/simulation_to_real_bridge.launch"/>
    <!-- Start the PID -->
    <node name="depth_pid" pkg="pid" type="controller" >
        <param name="Kp" value="0.4" />
        <param name="Ki" value="0.05" />
        <param name="Kd" value="0.0" />
        <param name="upper_limit" value="1.0" />
        <param name="lower_limit" value="-1.0" />
        <param name="windup_limit" value="3.0" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="2.0" />
        <param name="setpoint_topic" value="depth_target"/>
        <param name="topic_from_plant" value="depth"/>
        <param name="topic_from_controller" value="thruster_cmd"/>
    </node>

    <group if="$(arg use_lag)">
        <node name="lagger" pkg="bffv1_sim_utils" type="publish_ping_lag.py">
            <param name="ping_lag" value="$(arg ping_lag)"/>
        </node>
        <!-- Start the static depth controller -->
        <node name="controller" pkg="float_control" type="unified_controller.py">
            <param name="ping_lag" value="$(arg ping_lag)"/>
            <param name="use_lag_control" value="false"/>
            <remap from="ping" to="ping_lag"/>
        </node>
    </group>
    <group unless="$(arg use_lag)">
        <!-- Start the static depth controller -->
        <node name="controller" pkg="float_control" type="unified_controller.py">
        </node>
    </group>
</launch>
